body {
    background-color: black;
    color: white;
    font-family: 'Rubik';
    font-weight: 300;
    margin-bottom: 100px;
    height: 100%;
}

h1 {
    font-family: 'Rubik';
    font-weight: 500;
}

.navbar-brand {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 2.0rem;
}

.navbar-dark .navbar-brand {
    color: white;
    transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
    color: #27ddcb;
    transition: color 0.3s;
}

a.nav-link {
    font-family: 'Poppins';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    transition: 0.3s;
    text-decoration: underline;
}

a {
    color: white;
    transition: 0.3s;
}

a:hover {
    color: #27ddcb;
    text-decoration: none;
    transition: 0.3s ;
}

div.spacer {
    margin-bottom: 100px;
}

div.snippet {
    max-height: 600px;
    padding: 20px;
}

.snippet-inner {
    height: 100%;
    width: 100%;
}

.snippet-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.snippet-inner:hover .snippet-image{
    opacity: 0.3;
    transition: 0.3s;
}

.snippet-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.snippet-inner:hover .snippet-text {
    opacity: 1;
}

.snippet-text .a {
    transition: 0.1s;
}

.post-img {
    height: 100%;
    width: 300px;
    object-fit:cover;
}

.back {
    margin-top: 30px;
    margin-bottom: 50px;
}

.home-container {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    font-size: 0.9rem;
}

th {
    font-weight: 500;
}

#main {
    background-color: black;
    opacity: 0;
}

.nosummary {
	position:relative;
}

.nosummary::after {
	content:" ";
	position: absolute;
	top: 0;
	right: 0;
	border-style: solid;
	border-width: 0 30px 30px 0;
	border-color: transparent #bd2130 transparent transparent;
}

.footer {
    margin-top: 60px;
    font-family: Poppins;
    font-weight: 200;
    font-size: 1.0rem;
}

ol > li > ol {
    list-style-type: lower-alpha;
}