---
layout: default
title: BookNuggets
---

<div class='home-container'>
    <div class="row justify-content-center">
        {% for post in site.posts %}
        <div class="col-8 col-sm-6 col-md-4 col-xl-3 snippet">
            {% if post.excerpt contains 'No summary available.' %}

                <div class='snippet-inner nosummary'>
                    <img class='snippet-image' src="{{ site.baseurl }}/uploads/{{ post.image }}">
                    <div class="snippet-text text-center">
                        No summary available.
                    </div>
                </div>

            {% else %}
            
                <div class='snippet-inner'>
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img class='snippet-image' src="{{ site.baseurl }}/uploads/{{ post.image }}">
                        <div class="snippet-text text-center">
                            <a href="{{ post.url | prepend: site.baseurl }}">
                                View Summary
                            </a>
                        </div>
                    </a>
                </div>

            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>