---
layout: default
---

<div class='container'>
    <div class="row justify-content-center h-20">
        <div class="col-10 col-lg-7" align="center">
            <img class='post-img' src='../../../uploads/{{ page.image }}'>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-11 col-lg-9">
            <h2>{{ page.title }}</h2>
            <p>
                {{ content }}
            </p>
        </div>
    </div>
    <div class='back' align='center'>
        <button type="button" class="btn btn-outline-light" onclick='goBack()'>Back</button>
    </div>
</div>
 
<div class='container'>
    <div class="row justify-content-center">
        <div class="col-11 col-lg-9">
            <div id="disqus_thread"></div>
                <script>

                /**
                *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                /*
                var disqus_config = function () {
                this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };
                */
                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://booknuggets.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
    </div>
</div>
